<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-componente-heading" jhiTranslate="nimbusApp.componente.home.createOrEditLabel">Create or edit a Componente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nimbusApp.componente.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nimbusApp.componente.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nimbusApp.componente.tipocomponente" for="field_tipocomponente">Tipocomponente</label>
                    <select class="form-control" id="field_tipocomponente" name="tipocomponente" formControlName="tipocomponente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoComponenteOption.id === editForm.get('tipocomponente').value?.id ? editForm.get('tipocomponente').value : tipoComponenteOption" *ngFor="let tipoComponenteOption of tipocomponentes; trackBy: trackTipoComponenteById">{{tipoComponenteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nimbusApp.componente.seccion" for="field_seccion">Seccion</label>
                    <select class="form-control" id="field_seccion" name="seccion" formControlName="seccion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="seccionOption.id === editForm.get('seccion').value?.id ? editForm.get('seccion').value : seccionOption" *ngFor="let seccionOption of seccions; trackBy: trackSeccionById">{{seccionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
