<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="componente">
            <h2><span jhiTranslate="nimbusApp.componente.detail.title">Componente</span> {{componente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nimbusApp.componente.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{componente.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="nimbusApp.componente.version">Version</span></dt>
                <dd>
                    <span>{{componente.version}}</span>
                </dd>
                <dt><span jhiTranslate="nimbusApp.componente.tipocomponente">Tipocomponente</span></dt>
                <dd>
                    <div *ngIf="componente.tipocomponente">
                        <a [routerLink]="['/tipo-componente', componente.tipocomponente?.id, 'view']">{{componente.tipocomponente?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nimbusApp.componente.seccion">Seccion</span></dt>
                <dd>
                    <div *ngIf="componente.seccion">
                        <a [routerLink]="['/seccion', componente.seccion?.id, 'view']">{{componente.seccion?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/componente', componente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
