<div class="container cont-practitioner">

      <div class="topbar-p">
        <div class="row-topbar-p">
          <div class="r-1">
            <div class="logo-pp"></div>
          </div>
          <div class="r-2">
            <a id="cerrar-libro" class="btn-close-pract" href="/"></a>
          </div>
        </div>
      </div>

      <div class="home-pract">
        <div class="sidebar-pract"></div>
        <div class="content-menu-pract">
          <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptate, debitis culpa nobis nulla commodi. Cupiditate nihil quas placeat veniam?</p>
          </div>
        </div>

      </div>


</div>
