/* VARIABLES GENERALES */

/*colores*/
$materia-titulo: #455f96;
$practicario-titulo: #434b6a;
$palabras-general: #565d7a;
$titulo-actividad: #606681;
$titulo-dificultad: #313894;
$contenedor-lista: #313894;
$numeracion: #f9fafc;
$estadisticas: #5a63aa;
$separador-tema: #d2d3db;
$separador-estadisticas: #caccd5;

$bg-color: #f6f6f6;
$main-blue: #283d8e;
$second-blue: #0864fd;
$separador-color: rgb(209, 209, 209);
$top-bar-color: white;
$barra-lateral: #fafafa;
$contenedor-general: #f6f6f6;
$seccion-legales-avance: #ffffff;
$progress-bar: #ececec;
$barra-progreso: #3d5fff;
$white: rgb(255, 255, 255);

$contenedor-informacion-actividad: #fff;

/*medidas generales*/
$width-barra-lateral: 260px;
$height-barra-superior: 50px;
$height-seccion-generales: 160px;
$height-contenedor-temas: calc(100% - 50px); /* 100% - $height-barra-superior*/

/*medidas de icono de dirección*/
$width-icono-direccion: 15px;
$height-icono-direccion: 15px;

/*medidas de barra superior*/
$width-logo-practicario: calc(260px - 20px); /*$width-barra-lateral - 20px*/
$width-buscador: calc(100% - 260px); /*100% - $width-barra-lateral*/

/*medidas de seccion generales*/
$height-generales: calc(160px * 0.4 - 20px); /*$height-seccion-generales/2 - 20px*/
$height-mi-avance: calc(160px * 0.6); /*$height-seccion-generales/2*/
$height-mi-avance2: calc(160px * 0.4); /*$height-seccion-generales/2*/

/*medidas barras de progreso*/
$height-barra-progreso-general: 8px;
$height-barra-progreso-tema: 6px;

/*medidas de iconos monedas y estrellas*/
$width-icono-estrella-general: 20px;
$height-icono-estrella-general: 20px;
$width-icono-moneda-general: 20px;
$height-icono-moneda-general: 20px;
$width-icono-estrella-tema: 15px;
$height-icono-estrella-tema: 15px;

/*medidas de menú*/
$height-contenido-menu: calc(100% - 228px); /*100% - ($height-seccion-generales + 20 + 48)*/
$separacion-temas-menu: 15px;

/*medidas del listado de temas*/
$width-contenedor-general: calc(100% - 260px); /*100% -  $width-barra-lateral*/

/*medidas de icono de logo educare*/
$width-icono-logo-educare: 15px;
$height-icono-logo-educare: 15px;

/*medidas de contenedor estadísticas generales*/
$height-contenedor-estadisticas-generales: calc(100% - 15px); /*100% -  $height-icono-logo-educarel*/

// Editorial
$f-family: 'Open Sans', sans-serif;
$f-title: 'Open Sans', sans-serif;
$f-size: 30px;
$tx-size: 16px;
$s-h1: 32px;
$s-h2: 32px;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$normal: normal;
$italic: italic;
$title-color: #555e77;

$text-blue: #283d8e;
$text-color: rgb(60, 60, 60);

/* MIXINS */
/*Import font*/
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../../assets/fonts/Open_Sans/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../../assets/fonts/Open_Sans/OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../../assets/fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: 700;
}

// Media query
@mixin smartphone {
  @media (min-width: 1px) and (max-width: 780px) {
    @content;
  }
}
@mixin ipad {
  @media (min-width: 760px) and (max-width: 1140px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 100%) {
    @content;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*VARIABLES*/
$width-cerrar-libro: 20px;
$height-cerrar-libro: 20px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
/* Font styles */
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
// h1 {
//   @include title ($s-h1, $semibold, $normal, $f-color);
// }
h2 {
  position: relative;
  font-size: 16px;
  color: $title-color;
  font-weight: 400;
}
// h3 {
//   @include title ($s-h3, $regular, $normal, $title-color);
// }
// h4 {
//   @include title ($s-h4, $semibold, $normal, $f-color);
// }

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
// p {
//   @include text ($tx-size, $regular, $normal, $tx-color);
//   line-height: 24px;
// }
b {
  font-weight: 700;
}

#portada-practiraio {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  #cerrar-libro {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/img/icons/close_icon.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .logo-portada {
    position: relative;
    width: 277px;
    height: 70px;
    background-image: url('../../../assets/img/logo-portada.svg');
    background-position: center;
    background-size: 100%;
  }
}

#contenido-practiraio {
  margin: 0;
  width: 100%;
  height: 100%;
}

.centrar-vertical {
  display: flex;
  align-items: center;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*contenedores*/
.contenedor-temas {
  display: flex;
  height: $height-contenedor-temas;
  color: $palabras-general;
}

.icono-izquierda {
  height: $height-icono-direccion;
}

/*barra superior*/
// topbar
.barra-superior {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $top-bar-color;

  .container {
    position: relative;
    width: 94%;
    // max-width: 1300px;
    height: 100%;
    display: flex;
    align-items: center;
    .logo-practicario {
      position: relative;
      width: 120px;
      height: 40px;
      background-image: url('../../../assets/img/logo_home.svg');
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    #cerrar-libro {
      position: absolute;
      right: 0px;
      width: 40px;
      height: 40px;
      background-image: url('../../../assets/img/icons/close_icon.svg');
      background-position: center;
      background-size: 60%;
      background-repeat: no-repeat;
    }
  }
}

.materia-titulo {
  width: 100%;
  color: $materia-titulo;
}

.buscador {
  width: $width-buscador;
  text-align: left;
  position: relative;
  padding: 10px;
  display: flex;
}

.icono-buscar {
  height: 17px;
  padding: 5px;
}

.buscador input {
  background: none;
  border: none;
  padding: 5px 0 0 5px;
  color: $palabras-general;
  &:focus {
    outline: none;
  }
}

// Barra lateral SCSS

// Checkbox
.container-label {
  pointer-events: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    transition: 0.4s;
    &:after {
      content: '';
      position: absolute;
      display: none;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      background-image: url('../../../assets/img/icons/check.png');
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .icono-tema-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    /*background-image: url("../../../assets/img/icons/iconos-temas/icono-tema.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 10px;
  }
  .titulo-tema-label {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    color: $title-color;
    margin-left: 10px;
    height: auto;
    min-height: 20px;
    width: 60%;
  }
}
/* On mouse-over, add a grey background color */
.container-label:hover input ~ .checkmark {
  // box-shadow: 0 6px 12px rgba(0,0,0,0.30);
}
/* When the checkbox is checked, add a blue background */
.container-label input:checked ~ .checkmark {
  // background-color: $second-blue;
  background-color: $main-blue;
}
/* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
  display: block;
}

.listado-actividades {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;

  .informacion-actividad {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 60px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    @include ipad {
      justify-content: space-between;
    }

    .titulo-actividad {
      position: relative;
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      @include smartphone {
        width: 60%;
      }
      @include ipad {
        width: 70%;
      }

      p {
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: $text-color;
        font-size: 16px;
        margin-left: 12px;
        width: 80%;
        height: auto;
      }

      .contenedor-numeracion {
        position: relative;
        width: 33px;
        height: 33px;
        color: white;
        border-radius: 100%;
        background-color: $main-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;

        .numeracion {
          position: relative;
          font-size: 14px;
          color: white;
        }
      }
    }

    .container-estadisticas {
      position: relative;
      width: 20%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      @include smartphone {
        width: 40%;
      }
      @include ipad {
        width: 30%;
      }

      .estadisticas-tema {
        position: relative;
        width: 160px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;

        .estrellas-generales {
          position: relative;
          width: 70px;
          height: 22px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .separador-estadisticas {
          position: relative;
          width: 2px;
          height: 20px;
          background-color: $separador-color;
        }
        .monedas-actividad {
          position: relative;
          width: 65px;
          height: 22px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .moneda-actividad {
            position: relative;
            width: 21px;
            height: 21px;
            background-image: url('../../../assets/img/icons/moneda.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
          }
          .cantidad-monedas-actividad {
            position: relative;
            color: $text-blue;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.estrellas-generales > hr {
  position: relative;
  width: 21px;
  height: 21px;
  background-image: url(./../../../assets/img/icons/icono-estrella-vacia.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  border: none;
}

.estrellas-generales > hr.fill {
  opacity: 1 !important;
  background-image: url(./../../../assets/img/icons/icono-estrella.png);
}
.estrella-global {
  position: relative;
  width: 21px;
  height: 21px;
}

.hidden {
  display: none !important;
}

.no-disponible {
  pointer-events: none;
  opacity: 0.5;
}

.boton-seleccionado {
  background-color: rgba(226, 226, 226, 0.5);
}

.contenedor-extras {
  position: relative;
  height: auto;
  width: 88%;
  margin-top: 20px;
  margin-bottom: 15px;
}

#contenedor-generales {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .icono-generales {
    background-image: url(../../../assets/img/icons/generales_icn.svg);
  }

  /*a{
    color: #424D69;
    text-decoration: none;
    vertical-align: middle;
  }*/
}

.container {
  width: 100% !important;
  max-width: 100% !important;
}

// CSS Ax
.cont-practitioner {
  // border: 2px solid red;
  position: relative;
  width: 100%;
  height: calc(100vh - 61px);
  // height: 100vh;
  top: 0;
}
.topbar-p {
  position: relative;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-topbar-p {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.r-1 {
  position: relative;
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.r-2 {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.r-1 .logo-pp {
  position: relative;
  width: 130px;
  height: 40px;
  background-image: url('../../../assets/img/practitioner_logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn-close-pract {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('../../../assets/img/close_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  transition: 0.3s;
}
.btn-close-pract:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.home-pract {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  height: calc(100vh - 111px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include smartphone {
    flex-direction: column;
    height: auto;
  }
}
.sidebar-pract {
  position: relative;
  width: 300px;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include smartphone {
    height: 250px;
    width: 100%;
  }

  .line-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 139, 208, 1), rgba(0, 169, 188, 1));
    z-index: 1;
    @include smartphone {
      width: 100%;
      height: 5px;
      top: 103px;
    }
  }

  .item-sidebar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .shadow-sb {
      position: absolute;
      width: 100%;
      height: 25px;
      background: linear-gradient(0deg, rgba(66, 77, 105, 0.3), rgba(255, 255, 255, 0));
      top: -25px;
      left: 0;
      z-index: 0;
      opacity: 0.4;
      @include smartphone {
        top: 224px;
      }
    }

    &:nth-child(1) {
      height: calc(100vh - 230px);
      align-items: flex-start;
      overflow-y: auto;
      order: 1;
      @include smartphone {
        order: 3;
      }
    }
    &:nth-child(2) {
      border-top: 1px solid silver;
      height: 130px;
      order: 2;
      @include smartphone {
        order: 1;
      }
    }
    &:nth-child(3) {
      border-top: 1px solid silver;
      height: 100px;
      order: 3;
      @include smartphone {
        order: 2;
        border-bottom: 1px solid silver;
      }
    }

    .row-itemsb {
      position: relative;
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 1;

      &:nth-child(2) {
        flex-direction: row;
      }

      .title {
        position: relative;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        p {
          font-size: 18px;
          color: $main-blue;
          @include smartphone {
            font-size: 16px;
            margin-top: 0px;
            height: 25px;
          }
        }
      }

      .link-menu-act {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 40px;
        margin-top: 5px;
        display: flex;
        align-items: center;

        .it1 {
          position: relative;
          width: 100px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .btn-check-pract {
            position: relative;
            width: 25px;
            height: 25px;
            margin-right: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .icn-linkpract {
            position: relative;
            width: 25px;
            height: 25px;
            background-image: url('../../../assets/img/iconos-temas/icono5.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
          }
        }
        .it2 {
          position: relative;
          width: 100%;
          height: 100%;
          p {
          }
        }
      }

      .link-sb {
        position: relative;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: default;
        @include smartphone {
          width: 50%;
        }
        span {
          position: relative;
          width: 25px;
          height: 25px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
        }
        .icn-1-ptact {
          background-image: url('../../../assets/img/generales_icn.svg');
        }
        .icn-2-ptact {
          background-image: url('../../../assets/img/extra_icn.svg');
        }
        p {
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }
  }
}

.content-menu-pract {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  @include smartphone {
    height: auto;
    min-height: 300px;
    overflow-y: none;
  }
}
.content-menu-pract .row {
  position: relative;
  width: 90%;
  height: auto;
}
.btn-pract {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: white;
  border-radius: 12px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05), 0 8px 6px rgba(0, 0, 0, 0.08);
  @include smartphone {
    height: 60px;
    margin-top: 10px;
  }
  &:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.14), 0 10px 8px rgba(0, 0, 0, 0.12);
  }
}

.btn-pract .item-p {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-pract .item-p:nth-child(1) {
  width: 10%;
  @include smartphone {
    width: 15%;
  }
}
.btn-pract .item-p:nth-child(2) {
  width: 60%;
  justify-content: flex-start;
  @include smartphone {
    width: 55%;
  }
}
.btn-pract .item-p:nth-child(3) {
  width: 30%;
}
.number-btn-pract {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $main-blue;
  border-radius: 100%;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include smartphone {
    width: 30px;
    height: 30px;
    font-size: 19px;
  }
}
.btn-pract .item-p:nth-child(2) p {
  font-size: 18px;
  @include smartphone {
    font-size: 16px;
  }
  strong {
    color: $main-blue;
    font-weight: 700;
  }
}

.row-title-btnpract {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smartphone {
    height: 50px;
  }
  .item-tp {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:nth-child(1) {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        margin-left: 10px;
        position: relative;
        width: 30px;
        height: 30px;
        background-image: url('../../../assets/img/iconos-temas/icono5.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        @include smartphone {
          width: 20px;
          height: 20px;
        }
      }
      p {
        margin-left: 10px;
        font-size: 18px;
        @include smartphone {
          font-size: 16px;
        }
      }
    }
    &:nth-child(2) {
      width: 50%;
    }
  }
}
